#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-image: url("./assets//pexels-johannes-plenio-1103970.jpg");
  background-size: cover;
  background-position: center; */
}

html {
  background-image: url("./assets//pexels-johannes-plenio-1103970.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}


