.timeNow {
    font-weight: 600;
    border: 1px solid white;
    border-radius: 10px;
    /* background-color: #1a1a1a; */
    font-size: 1em;
    color: black;
    flex: wrap;
}
.loading {
    font-size: 0.7em;
    font-weight: 300;
    color: red
}

@media (max-width: 767px) {
    .timeNow {
        display: none;
    }
}