.timeNow {
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid  rgba(216, 109, 22, 0.399);
    font-size: 1em;
    color: black;
    padding: 5px;
    margin: 0;
    
}
.loading {
    font-size: 0.7em;
    font-weight: 300;
    color: red
}

@media (max-width: 445px) {
    .timeNow {
        display: none;   
    }
}