@media (max-width: 767px) {
  button.toggle--menuBtn.navbar-toggler.collapsed {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white!important;
    font-size: 24px !important;
    max-width: 150px;
    padding: 5px;
  }
  
  button.toggle--menuBtn.navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white!important;
    font-size: 24px !important;
    max-width: 150px;
    padding: 5px;
    margin-bottom: 10px;
  }
  .tabs--container.navbar-nav {
    margin: 30px 0px;
    /* background: rgba(216, 109, 22, 0.399); */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button.navbar-toggler {
    max-width: 70px;
  }

  
  .header--container {
    border: none;
    box-shadow: none;
    background: transparent;
  }
  #tabs:hover {
    /* background-color:  rgba(216, 109, 22, 0.399); */
    border-radius: 5px;
    transform: none;
    color: white;
  }
  .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center !important;
    /* background: transparent; */
  }
  button.logBtn {
    width: 140px;
  }
}

/* .header--container {
  background-image: url("../../assets/pexels-johannes-plenio-1103970.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgba(216, 109, 22, 0.399);
  padding: 10px;

} */
/* Navbar tabs */
#tabs {
  color: black;
  margin: 10px;
  margin-left: 15px;;
  font-size: 1.2em;
  font-weight: 500;
  transition: background-color 0.3s, border-radius 0.3s, font-size 0.1s;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom:1px;

  transform-origin: top left;
}
#tabs:hover {
  background-color: rgba(216, 109, 22, 0.399);
  border-radius: 5px;

  
}
.tabs--container {
  white-space: nowrap;
}
/* Login and Register buttons */
.logBtn--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.logBtn {
  background: transparent;
  color: black;
  width: 90px;
  margin-bottom: 0px;
  padding: 5px;
  
  border-color: rgba(216, 109, 22, 0.399); 
}
.logBtn:hover {
  transition: background-color 0.25s;
  background-color: rgba(216, 109, 22, 0.5);
  transform: scale(1.05);
}
.logoutBtn {
  max-width: 100px;
  height: 40px;
  color: red;
  border-color: red;
  padding: 0;
  
  
}
nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {
  background-color:  rgba(175, 175, 175, 0.5) !important;
  box-shadow: 2px 2px 10px ;
  border-radius: 20px;
}
.navbar-text {
  padding-bottom: 0;
  margin-left: auto;
}

/* .toggle--menuBtn {
  border: 1px 1px solid white !important;
  color: white!important;
  font-size: 24px !important;
} */


