@media (max-width: 767px) {
    button.navbar-toggler.collapsed {
      /* max-width: 70px; */
      display: flex;
      align-items: center;
      justify-content: center;
      /* color: green; */
    }
    .tabs--container.navbar-nav {
      margin: 10px 0px;
      background: rgba(216, 109, 22, 0.399) ;
      border-radius: 5px;
    }
    button.navbar-toggler {
     max-width: 70px;
    }
   
    .nav--text {
      margin: 50px;
      
    }
    .header--container {
      border: none;
      box-shadow: none;
    }
    #tabs:hover {
      /* background-color:  rgba(216, 109, 22, 0.399); */
       border-radius: 5px;
      transform: none; 
      
    }
   
  }


.header--container {
  border-bottom: 2px solid  rgba(216, 109, 22, 0.399);
}
/* Navbar tabs */
#tabs{
  color: black;
  margin:0px 30px;
  font-size: 1.2em;
  font-weight: 600;
  transition: background-color 0.3s, border-radius 0.3s, font-size 0.1s;
  padding: 0px 2px;
  transform-origin: top left;
}
#tabs:hover {
  background-color:  rgba(216, 109, 22, 0.399);
  border-radius: 5px;
}
.tabs--container {
  white-space: nowrap;
}
.logBtn--container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.loginBtn.logoutBtn {
  background-color: rgba(216, 109, 22, 0.399);
}

